.fortuneHeading {
    font-size: 3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslateblue;
}

.instructionText, .raidButton {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color:black    
}

.raidResult {
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: cornflowerblue;
}

.raidButton {
    margin-left: 50px;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}